header {
  position: sticky;
  height: 55px;
  border-top-style: hidden;
  border-bottom: 2px;
  color: #FFF;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  top: 0;
  background-color: #222222;
  box-sizing: border-box;
}

.nav_btn {
  background-color: #232323;
  color:white;
  border-style: none;
  font-size: 16px;
}

.title {

}